doctype html
html
  head
    title Fish
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/bootstro/bootstro.css')
    link(rel='stylesheet', href='/public/css/fish.css')
    link(rel='stylesheet', href='/public/fonts/css/animation.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-codes.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-embedded.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-ie7-codes.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-ie7.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello.css')
    script(src='/bower/jquery/jquery.min.js')
    script(src='/bower/mixitup/build/jquery.mixitup.min.js')
    script(src='/bower/purl/purl.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower/moment/min/moment.min.js')
    script(src='/bower/bootstro/bootstro.js')
    script(src='/socket.io/socket.io.js')
    script(src='/bower/underscore/underscore-min.js')
    script(src='/public/js/localization.js')
    script(src='/public/js/fish.js')
  body
    .container-fluid
      .row
        .col-sm-6.clearfix
          .row#status-box
              h2#status-label.lead.status-label.alert.alert-success.bootstro(data-bootstro-title="Season status" data-bootstro-content="This status bar indicates which season you are in, when the season has ended, and offers some simulation status information." data-bootstro-placement="bottom")
              h3#status-sub-label.status-label.alert.alert-info.bootstro(data-bootstro-title="Fish population status" data-bootstro-content="The fish population status shows the number of remaining fish in the ocean and indicates when fish are spawning between seasons." data-bootstro-placement="bottom")
          .row.clearfix
            #control-box.clearfix
              .col-xs-4.clearfix
                button#changeLocation.btn.btn-changeLocation(type='button' data-location='port').bootstro(data-bootstro-title="Go to sea/ Return to port" data-bootstro-content="This allows you to take your ship out to sea or return to the port." data-bootstro-placement="bottom") Go to Sea <i class='icon-ship'></i>
              .col-xs-4.clearfix
                button#attempt-fish.btn.btn-fish(type='button').bootstro(data-bootstro-title="Attempt to fish" data-bootstro-content="Clicking this button simulates choosing to fish in the ocean. You can only attempt to fish if you are at sea." data-bootstro-placement="bottom") Attempt to fish <i class="icon-fish-hook"></i>
              .col-xs-4.clearfix
                button#pause.btn(type='button').bootstro(data-bootstro-title="Pause/ Resume" data-bootstro-content="This button pauses a simulation in progress or continues a paused simulation." data-bootstro-placement="bottom") Pause
                button#resume.btn(type='button', style='display:none') Resume
          .row.clearfix
            #fishers-box.clearfix
              table.table.table-striped.table-hover.fishers-table
                thead
                  th#fisher-header.bootstro(data-bootstro-title="Fisher" data-bootstro-content="This column indicates the name of each fisher. An anchor beside a fisher name shows the fisher is at port and a globe shows the fisher is out to sea." data-bootstro-placement="bottom")
                  th#catch-intent-th.data-header.bootstro(data-bootstro-title="Season intent" data-bootstro-content="You may be asked in between some seasons how many fish you plan to catch in the next season. In that case, this column shows how many fish each fisher intents to catch." data-bootstro-placement="bottom")
                    img(src='/public/img/fishy.jpg', width='20', height='20')
                    p#catch-intent-header
                  th.data-header.bootstro(data-bootstro-title="Season fish" data-bootstro-content="This column shows how many fish each fisher has caught in the current season." data-bootstro-placement="bottom")
                    img(src='/public/img/fishy.jpg', width='20', height='20')
                    p#fish-season-header
                  th.data-header.bootstro(data-bootstro-title="Overall fish" data-bootstro-content="This column shows how many fish each fisher has caught in total from the beginning of the simulation." data-bootstro-placement="bottom")
                    img(src='/public/img/fishy.jpg', width='20', height='20')
                    p#fish-total-header
                  th#profit-season-header.data-header.bootstro(data-bootstro-title="Season profit" data-bootstro-content="This column shows the current season's profit for each fisher." data-bootstro-placement="bottom")
                  th#profit-total-header.data-header.bootstro(data-bootstro-title="Overall profit" data-bootstro-content="This column shows the total profit for each fisher from the beginning of the simulation." data-bootstro-placement="bottom")
                tbody#fishers-tbody
                  each i in ["f0", "f1", "f2", "f3", "f4", "f5", "f6", "f7", "f8", "f9", "f10", "f11"]
                    tr(id=i)
                      td
                        img(id=i + "-status", src="/public/img/bullet_white.png")
                        p(id=i + "-name").fisher-label
                      td(id=i + "-catch-intent").fisher-label
                      td(id=i + "-fish-season").fisher-label
                      td(id=i + "-fish-total").fisher-label
                      td(id=i + "-profit-season").fisher-label
                      td(id=i + "-profit-total").fisher-label
          .row#catch-intent-dialog-box.clearfix
            #catch-intent-dialog
              form#catch-intent-dialog-form
                #catch-intent-dialog-message.prompt-label.alert 
                  h4#catch-intent-prompt1
                  h5#catch-intent-prompt2
                  input#prevent-single-input-from-submitting-when-the-enter-key-is-pressed(style="display: none;")
                  input#catch-intent-input(type="text" autofocus)
                  |  
                  button#catch-intent-submit.btn(type='button', style='display:none') Submit
          .row#costs-box.clearfix.bootstro(data-bootstro-title="Cost information" data-bootstro-content="This area shows different pieces of data pertaining to cost such as the cost to fish, the earnings per fish, and the cost to leave port." data-bootstro-placement="bottom")
            #cost-departure.costs-label.alert.alert-info
            #cost-second.costs-label.alert.alert-info
            #cost-cast.costs-label.alert.alert-info
            #revenue-fish.costs-label.alert.alert-info
        .col-sm-6
          .row#ocean-box.clearfix.bootstro(data-bootstro-title="Ocean window" data-bootstro-content="This window shows a pictorial representation of the ocean's fish population and updates as fish are caught." data-bootstro-placement="bottom")
            #warning-alert.alert.alert-danger
            #canvas-container.clearfix
              canvas#ocean-canvas(width='700', height='460')
    #rules-modal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          #rules-text.modal-body
            | Preparation text
          .modal-footer
            button#read-rules.btn.btn-primary(data-dismiss='modal', aria-hidden='true')
            button#tutorial.btn(type="button", data-dismiss='modal', aria-hidden='true') Start tutorial
    #over-modal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          #over-text.modal-body Simulation over text
          .modal-footer
            button#finished.btn.btn-primary(data-dismiss='modal', aria-hidden='true')
              | OK
