doctype html
html
  head
    title Fish
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/fish.css')
    link(rel='stylesheet', href='/public/fonts/css/animation.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-codes.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-embedded.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-ie7-codes.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello-ie7.css')
    link(rel='stylesheet', href='/public/fonts/css/fontello.css')
    script(src='/bower/jquery/jquery.min.js')
    script(src='/bower/mixitup/build/jquery.mixitup.min.js')
    script(src='/bower/purl/purl.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower/moment/min/moment.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/bower/underscore/underscore-min.js')
    script(src='/public/js/localization.js')
    script(src='/public/js/fish.js')
  body
    .container-fluid
      .row
        .col-sm-8.clearfix
          .row#status-box
              h2#status-label.lead.status-label.alert.alert-success
              h3#status-sub-label.status-label.alert.alert-info
          .row.clearfix
            #control-box.clearfix
              .col-xs-4.clearfix
                button#changeLocation.btn.btn-changeLocation(type='button' data-location='port') Go to Sea <i class='icon-ship'></i>
              .col-xs-4.clearfix
                button#attempt-fish.btn.btn-fish(type='button') Attempt to fish <i class="icon-fish-hook"></i>
              .col-xs-4.clearfix
                button#pause.btn(type='button') Pause
                button#resume.btn(type='button', style='display:none') Resume
          .row.clearfix
            #fishers-box.clearfix
              table.table.table-striped.table-hover.fishers-table
                thead
                  th#fisher-header
                  th.data-header
                    img(src='/public/img/fishy.jpg', width='20', height='20')
                    p#fish-season-header
                  th.data-header
                    img(src='/public/img/fishy.jpg', width='20', height='20')
                    p#fish-total-header
                  th#profit-season-header.data-header
                  th#profit-total-header.data-header
                tbody#fishers-tbody
                  each i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    tr(id="f#{i}")
                      td
                        img(id="f#{i}-status", src="/public/img/bullet_white.png")
                        p(id="f#{i}-name").fisher-label
                      td(id="f#{i}-fish-season").fisher-label
                      td(id="f#{i}-fish-total").fisher-label
                      td(id="f#{i}-profit-season").fisher-label
                      td(id="f#{i}-profit-total").fisher-label
          .row#costs-box.clearfix
            #cost-departure.costs-label.alert.alert-info
            #cost-second.costs-label.alert.alert-info
            #cost-cast.costs-label.alert.alert-info
            #revenue-fish.costs-label.alert.alert-info
        .col-sm-4
          .row#ocean-box.clearfix
            #warning-alert.alert.alert-danger
            #canvas-container.clearfix
              canvas#ocean-canvas(width='700', height='460')
    #rules-modal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          #rules-text.modal-body
            | Preparation text
          .modal-footer
            button#read-rules.btn.btn-primary(data-dismiss='modal', aria-hidden='true')
    #over-modal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          #over-text.modal-body Simulation over text
          .modal-footer
            button#finished.btn.btn-primary(data-dismiss='modal', aria-hidden='true') OK
    #conflict-pid-modal.modal.fade(role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          #conflict-pid-text.modal-body Chosen participant ID is being used for this simulation
          .modal-footer
            button#conflicted.btn.btn-primary(data-dismiss='modal', aria-hidden='true') OK
